[Unit]
Description=n2n VPN edge V2
After=network.target auditd.service
ConditionPathExists=/var/lib/n2n

[Service]
User=n2n
Group=n2n
EnvironmentFile=/var/lib/n2n/supernode-v2.environment
ExecStart=/var/lib/n2n/supernode -f -l $listen_port 
Restart=on-failure
KillMode=process

[Install] 
WantedBy=multi-user.target
